<div class="favorite-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Favorite Products</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-list *ngIf="favoriteItems.length > 0; else emptyFavorite">
        <mat-list-item *ngFor="let item of favoriteItems">
          <div class="item-container">
            <div class="item-details">
              <div>
                <strong>Product Name:</strong> {{ item.product?.name }}
              </div>
              <div>
                <strong>Category Name:</strong> {{ item.category?.name }}
              </div>
              <div>
                <strong>Seller Email:</strong> {{ item.seller?.email }}
              </div>
            </div>
            <button mat-icon-button color="warn" (click)="removeFromFavorites(item.product.orderId)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

      <ng-template #emptyFavorite>
        <p>No favorite products added.</p>
      </ng-template>
    </mat-card-content>

    <mat-card-actions *ngIf="favoriteItems.length > 0">
      <button mat-raised-button color="warn" (click)="clearFavorites()">Clear Favorites</button>
    </mat-card-actions>
  </mat-card>
</div>
