<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav.emit()" *ngIf="isLoginIn() && isSellerOrAdmin()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Online Marketplace</span>

  <span class="spacer"></span>

  <a mat-button routerLink="/">Home</a>

  <ng-container *ngIf="!isLoggedIn">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </ng-container>

  <ng-container *ngIf="isLoggedIn">
    <button mat-button (click)="logout()">Logout</button>
    <a mat-button *ngIf="isBuyer()" routerLink="/buyer/cart">Cart</a>
  </ng-container>
</mat-toolbar>
