<h2 mat-dialog-title class="dialog-title">Product Details</h2>
<mat-dialog-content class="dialog-content">
  <div class="product-container">
    <img *ngIf="data.product.imageurl" [src]="data.product.imageurl" alt="{{ data.product.imagename }}" class="product-image">
    <div class="product-info">
      <p><strong>Name:</strong> {{ data.product.name }}</p>
      <p><strong>Description:</strong> {{ data.product.longDescription }}</p>
      <p><strong>Price:</strong> {{ data.product.price | currency }}</p>
      <p><strong>Number Of Orders:</strong> {{ getNumberOfOrders(data.product.id) }}</p>
      <p><strong>Category:</strong> {{ getCategoryName(data.product.categoryId) }}</p>
      <p><strong>Seller:</strong> {{ getSellerName(data.product.sallerId) }}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
