<h2 mat-dialog-title class="dialog-title">Product Details</h2>
<mat-dialog-content class="dialog-content">
  <div class="product-container">
    <img *ngIf="data.product.imageurl" [src]="data.product.imageurl" alt="{{ data.product.imagename }}" class="product-image">
    <div class="product-info">
      <p><strong>Name:</strong> {{ data.product.name }}</p>
      <p><strong>Short Description:</strong> {{ data.product.shortDescription }}</p>
      <p><strong>Long Description:</strong> {{ data.product.longDescription }}</p>
      <p><strong>Price:</strong> {{ data.product.price | currency }}</p>
      <p><strong>Category:</strong> {{ getCategoryName(data.product.categoryId) }}</p>
      <p *ngIf="!isSeller"><strong>Seller:</strong> {{ getSellerName(data.product.sallerId) }}</p>
      <p><strong>Number of Favorite:</strong> {{getNumberOfOrders(data.product.id)}}</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
