<mat-sidenav-container class="sidenav-container">

  <mat-sidenav *ngIf="isUserLoggedIn() && isAdmin()" #sidenav mode="side" [opened]="sidenavOpened">
    <app-navbar></app-navbar>
  </mat-sidenav>

  <mat-sidenav *ngIf="isUserLoggedIn() && isUserSeller()" #sidenav mode="side" [opened]="sidenavOpened">
    <app-side-bar-seller></app-side-bar-seller>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-main-navbar (toggleSidenav)="toggleSidenav()"></app-main-navbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
