.mat-header-cell, .mat-cell {
  padding: 8px 16px;
  text-align: left;
}

.actions-column {
  text-align: center;
  width: 200px;
}

.text-end {
  white-space: nowrap;
  text-align: right;
}

.text-end button {
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 768px) {
  .text-end {
    text-align: center;
  }

  .text-end button {
    display: block;
    margin: 5px auto;
    width: 100%;
  }
}
